<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>Controlador.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mostrar</servlet-name>
        <servlet-class>Controlador.Mostrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registra</servlet-name>
        <servlet-class>Controlador.Registra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editar</servlet-name>
        <servlet-class>Controlador.Editar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Buscar</servlet-name>
        <servlet-class>Controlador.Buscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUser</servlet-name>
        <servlet-class>Controlador.ControladorUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerIMG</servlet-name>
        <servlet-class>Controlador.ControlerIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerProveedor</servlet-name>
        <servlet-class>Controlador.ControlerProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoRegistra</servlet-name>
        <servlet-class>Controlador.ProductoRegistra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoIMG</servlet-name>
        <servlet-class>Controlador.ProductoIMG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerCurrier</servlet-name>
        <servlet-class>Controlador.ControlerCurrier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerSucursal</servlet-name>
        <servlet-class>Controlador.ControlerSucursal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlerSolicitudCompra</servlet-name>
        <servlet-class>Controlador.ControlerSolicitudCompra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mostrar</servlet-name>
        <url-pattern>/Mostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registra</servlet-name>
        <url-pattern>/Registra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editar</servlet-name>
        <url-pattern>/Editar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Buscar</servlet-name>
        <url-pattern>/Buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUser</servlet-name>
        <url-pattern>/ControladorUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerIMG</servlet-name>
        <url-pattern>/ControlerIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerProveedor</servlet-name>
        <url-pattern>/ControlerProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoRegistra</servlet-name>
        <url-pattern>/ProductoRegistra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoIMG</servlet-name>
        <url-pattern>/ProductoIMG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerCurrier</servlet-name>
        <url-pattern>/ControlerCurrier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerSucursal</servlet-name>
        <url-pattern>/ControlerSucursal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlerSolicitudCompra</servlet-name>
        <url-pattern>/ControlerSolicitudCompra</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
